$mat-xsmall: 'max-width: 699px';
$mat-small: 'max-width: 959px';
$mat-xs: 'max-width: 499px';

mat-form-field {
  width: 95%;
}
mat-card {
  max-width: 1200px;
  margin: 0 auto;
}

.new-training {
  padding: 30px;
}

.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box>* {
  text-align: center;
  flex: 0 0 25%;
  @media screen and ($mat-small) {
    text-align: center;
    flex: 0 0 33.333%;
  }
  @media screen and ($mat-xsmall) {
    text-align: center;
    flex: 0 0 50%;
  }
  @media screen and ($mat-xs) {
    text-align: center;
    flex: 0 0 100%;
  }
}
