@import "../../../vars";

.new-training {
  padding: 30px;
}

.train-content {
  padding: 1em;
  display: block;
  width: calc(50% - 2em);
  float: left;
  @media screen and ($mat-small) {
    width: calc(100% - 2em);
  }
}

