<section class="new-training">
  <mat-card>
    <ng-container *ngIf="currentDay?.data?.length as dayLength">
      <mat-card-header>
          <mat-card-title>
            {{ currentDay.day.toUpperCase() }} - {{ currentDay.data[pageIndex]?.name }}
          </mat-card-title>
        <mat-card-subtitle>
          Exercise {{pageIndex + 1 }}/{{totalTrainEx}}:
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="train-content">
          <h3 *ngIf="currentDay.data[pageIndex]?.reps">
            Reps: {{ currentDay.data[pageIndex].reps }}
          </h3>
          <h3 *ngIf="currentDay.data[pageIndex]?.sets">
            Sets: {{ currentDay.data[pageIndex].sets }}
          </h3>
          <h3 *ngIf="currentDay.data[pageIndex]?.weight">
            Weight: {{ currentDay.data[pageIndex].weight }}
          </h3>
        </div>
        <div class="train-content">
        <iframe
          width="100%" height="250px"
          *ngIf="currentDay.data[pageIndex]?.link"
          [src]="currentDay.data[pageIndex]?.link | safeUrl"
          frameBorder="0"
          allowfullscreen>
        </iframe>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <mat-paginator
          [pageIndex]="pageIndex"
          [length]="dayLength"
          [pageSize]="1" (page)="getCurrentPageIndex($event)"
          *ngIf="dayLength > 1">
        </mat-paginator>
      </mat-card-actions>
    </ng-container>
    <!-- if we have no exercises -->
    <mat-card-header  *ngIf="!currentDay?.data?.length">
      <h2>It's {{today}}, No Exercises for Today, take a rest mate!</h2>
    </mat-card-header>
  </mat-card>
</section>

