@import "../../../vars";

mat-card {
  max-width: 1200px;
  margin: 0 auto;
}

.new-training {
  padding: 30px;
}

.train-content {
  display: block;
  width: 50%;
  float: left;
  @media screen and ($mat-small) {
    width: 100%;
  }
}

.mat-card-content {
  overflow: auto;
}
