@import "../../../vars";

.new-training {
  padding: 30px;
}

.train-content {
  padding: 1em;
  display: block;
  width: 50%;
  float: left;
  @media screen and ($mat-small) {
    width: 100%;
  }
}

