.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
  }
  
  .exes {
    flex-shrink: 0;
    white-space: nowrap;
    margin-right: 1em;
    overflow: scroll;
  }
