<mat-card >
  <mat-card-title fxLayoutAlign="center">My Exercises</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutAlign="center" *ngIf="!(isLoading$ | async) && exercises$ | async">
    <mat-list>
      <mat-list-item *ngFor="let exercise of exercises$ | async">
            {{exercise.name}}
            <button type="button" mat-raised-button color="warn" (click)="deleteEx(exercise.id)">Delete</button>
            <button type="button" mat-raised-button color="primary" (click)="openEdit(exercise)">Edit</button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-content fxLayout="row" fxLayoutAlign="center" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </mat-card-content>
</mat-card>

