
mat-list-item {
  height: auto;
  display: inline-flex;
  justify-content: center;
  text-align: left;
  button {
    float: right;
    margin-left: 1em;
  }
}

.mat-mdc-list-item-unscoped-content .mdc-list-item__primary-text {
  height: 100%;
}