@import "../../../vars";


.analytics-container {
  padding: 1em;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* styles for large screens */
  @media (min-width: 576px) {
    padding: 0;
  }
}

.chart-wrapper {
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;

  /* default styles for small screens */
  width: 100%;

  /* styles for medium screens */
  @media (min-width: 576px) {
    width: calc(50% - 20px);
  }

  /* styles for large screens */
  @media (min-width: 992px) {
    width: calc(33.33% - 20px);
  }
}


