/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';
@import 'theme';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($md-primary);
$candy-app-accent:  mat-palette($md-accent);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($md-warn);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.mat-mdc-form-field-subscript-wrapper {
  height: 1em;
}

mat-card-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}

mat-card {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 100%;
  box-shadow: none;
  padding: 2em;

  @media (max-width: 599px) {
    padding: 0;
  }
}


mat-dialog-container form{
  padding: 2em;
}

mat-card-actions {
  justify-content: flex-end;
}

.mat-mdc-paginator-range-label {
  display: none;
}
