/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-accent: (
  50 : #e2e4f4,
  100 : #b6bce3,
  200 : #8690d0,
  300 : #5664bd,
  400 : #3142af,
  500 : #0d21a1,
  600 : #0b1d99,
  700 : #09188f,
  800 : #071485,
  900 : #030b74,
  A100 : #a2a6ff,
  A200 : #6f75ff,
  A400 : #3c44ff,
  A700 : #232cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-warn: (
  50 : #fee0e0,
  100 : #fcb3b3,
  200 : #fa8080,
  300 : #f74d4d,
  400 : #f62626,
  500 : #f40000,
  600 : #f30000,
  700 : #f10000,
  800 : #ef0000,
  900 : #ec0000,
  A100 : #ffffff,
  A200 : #ffe0e0,
  A400 : #ffadad,
  A700 : #ff9393,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
