@import "../../../vars";

mat-form-field {
  width: 95%;
}
mat-card {
  max-width: 1200px;
  margin: 0 auto;
}

.inline-add-form-container {
  display: flex;
  align-items: center;
}

.new-training {
  padding: 30px;
}
mat-form-field {
  margin-top: 1em;
}
h4 {
  text-transform: capitalize;
}

.inline-add-icon {
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box>* {
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
  flex: 0 0 25%;
  @media screen and ($mat-small) {
    flex: 0 0 33.333%;
  }
  @media screen and ($mat-xsmall) {
    flex: 0 0 50%;
  }
  @media screen and ($mat-xs) {
    flex: 0 0 100%;
  }
}
