<section class="new-training">
  <mat-card>
    <mat-card-content>
      <div>
        <button mat-raised-button (click)="addNew()">
          <mat-icon>
            add
          </mat-icon>
          Add Exercise
        </button>
        <button mat-raised-button (click)="list()">
          <mat-icon>
            list
          </mat-icon>
          List Exercises
        </button>
      </div>
      <div class="box">
        <ng-container *ngFor="let weekPlan of weekPlan$| async;">
          <div class="box-item" *ngFor="let week of weekPlan.week">
            <h4>{{week.day}}</h4>
            <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
              <mat-chip 
                *ngFor="let exM of week.data"
                [removable]="removable"
                (removed)="remove(exM, week.data, weekPlan)">
                {{exM?.name}}
                <mat-icon matChipTrailingIcon (click)="openEdit(exM, weekPlan)">
                  edit
                </mat-icon>
                <mat-icon matChipRemove *ngIf="removable">
                  cancel
                </mat-icon>
              </mat-chip>
            </mat-chip-listbox>
            <div class="inline-add-form-container">
              <mat-icon (click)="addNew(week.data, weekPlan)">
                add
              </mat-icon>
              <mat-form-field>
                <mat-select (selectionChange)="add($event, week.data, weekPlan)" placeholder="Select an Exercise">
                  <mat-option *ngFor="let ex of exercises$ | async" [value]="ex">
                    {{ex?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</section>
