@import "../../../vars";

mat-chip-listbox {
  width: 100%;
  overflow: scroll;
}

.inline-add-form-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  mat-icon {
    margin-top: -1em;
  }
}

mat-form-field {
  width: 100%;
}

.new-training {
  padding: 30px;
}

h4 {
  text-transform: capitalize;
}


.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; // Add this rule to center the items
}
.box-item {
  width: 100%;
  max-width: 350px;
  padding: 1em;
}